@import 'normalize.css';
@import "tailwindcss";
@import './styles/scrollbar.css';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: calc(100% - 100vw);
    margin-right: 0;
}
